.reveal #OOP, .reveal #FP {
  font-size: 50px;
}
#s1-2 {
  background: url(../images/2.1.jpeg) no-repeat center;
  background-size: auto;
  height: 100%;
}
#s1-3, #s2-1 {
  text-align: start;
} 
#s1-5 li, #s2-2 li {
  font-size: 30px;
}
#s1-5 li:first-child {
  padding-top: 10px;
}
caption {
  padding-bottom: 20px;
}
.reveal section td {
  border-collapse: collapse;
  border: 1px solid #ffff;
  font-size: 22px;
  width: 800px;
}
.reveal section th {
  text-align: center;
  font-size: 30px;
  border-collapse: collapse;
  border: 1px solid #ffff;
  width: 800px;
}
.reveal #s2-5 {
  font-size: 22px;
  text-align: left;
}